<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'profesores' %}">Profesores</a>
        <a class="navbar-brand" href="{% url 'listaCursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'entregable' %}">Entregables</a>
        <a class="btn btn-primary" href="#signup">Iniciar</a>
    </div>
</nav>